flows.json
[{"id":"701dc7c1.48ee98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca0f92ef.19129","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"be90d2f9.75351","type":"ui_group","z":"","name":"Registration","tab":"ca0f92ef.19129","order":1,"disp":true,"width":"6","collapse":false},{"id":"b99e0e3d.b4c9b","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"3f6e17cb.fc5028","type":"ui_group","z":"","name":"Login","tab":"b99e0e3d.b4c9b","order":1,"disp":true,"width":"6","collapse":false},{"id":"bebf83ec.383b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"315278ee.0a71e8","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false},{"id":"e4d3d63d.e829a8","type":"ui_group","z":"","name":"Bot","tab":"315278ee.0a71e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b59656a3.7ef4e8","type":"ui_form","z":"701dc7c1.48ee98","name":"","label":"","group":"be90d2f9.75351","order":0,"width":0,"height":0,"options":[{"label":"Name:","value":"name","type":"text","required":true,"rows":null},{"label":"Emaill ID:","value":"Emailid","type":"email","required":true,"rows":null},{"label":"Password:","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","Emailid":"","password":""},"payload":"","submit":"Create","cancel":"cancel","topic":"","x":70,"y":120,"wires":[["c57f471b.024558","b97d4351.b6c3"]]},{"id":"c57f471b.024558","type":"debug","z":"701dc7c1.48ee98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":60,"wires":[]},{"id":"b97d4351.b6c3","type":"function","z":"701dc7c1.48ee98","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":120,"wires":[["decb8c77.4248a"]]},{"id":"decb8c77.4248a","type":"cloudant out","z":"701dc7c1.48ee98","name":"Database","cloudant":"","database":"sample","service":"node-red-wblpg-2020--cloudant-1597403133946-27935","payonly":true,"operation":"insert","x":480,"y":120,"wires":[]},{"id":"70b985d4.ef0b2c","type":"ui_form","z":"701dc7c1.48ee98","name":"","label":"","group":"3f6e17cb.fc5028","order":0,"width":0,"height":0,"options":[{"label":"Email ID:","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":200,"wires":[["bce55ab7.0c3e08"]]},{"id":"bce55ab7.0c3e08","type":"function","z":"701dc7c1.48ee98","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":200,"wires":[["d3a562c4.9ced4"]]},{"id":"d3a562c4.9ced4","type":"function","z":"701dc7c1.48ee98","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":200,"wires":[["f1cad84f.f30708"]]},{"id":"f1cad84f.f30708","type":"cloudant in","z":"701dc7c1.48ee98","name":"","cloudant":"","database":"sample","service":"node-red-wblpg-2020--cloudant-1597403133946-27935","search":"_idx_","design":"user","index":"user","x":580,"y":200,"wires":[["9d849f6d.b4ed8"]]},{"id":"9d849f6d.b4ed8","type":"function","z":"701dc7c1.48ee98","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":200,"wires":[["d0e3bf82.b5a33"]]},{"id":"d0e3bf82.b5a33","type":"ui_text","z":"701dc7c1.48ee98","group":"3f6e17cb.fc5028","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":200,"wires":[]},{"id":"ddd8d531.e7ea08","type":"ui_form","z":"701dc7c1.48ee98","name":"","label":"","group":"e4d3d63d.e829a8","order":0,"width":0,"height":0,"options":[{"label":"User Input:","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["fa0a8c8a.60048"]]},{"id":"fa0a8c8a.60048","type":"function","z":"701dc7c1.48ee98","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":280,"wires":[["c50c4abc.5c03c8"]]},{"id":"c50c4abc.5c03c8","type":"watson-conversation-v1","z":"701dc7c1.48ee98","name":"","workspaceid":"082a3d2e-23b1-4ea1-a2d4-7fe5c5de38ce","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/90227a5a-9948-4cd4-9c33-7fad59ae9808","timeout":"","optout-learning":false,"x":380,"y":280,"wires":[["8cfba697.de5f48"]]},{"id":"8cfba697.de5f48","type":"function","z":"701dc7c1.48ee98","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":280,"wires":[["677ca714.60c7e8","198d31c2.a5719e"]]},{"id":"677ca714.60c7e8","type":"ui_text","z":"701dc7c1.48ee98","group":"e4d3d63d.e829a8","order":1,"width":"6","height":"6","name":"","label":"Bot response:","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":280,"wires":[]},{"id":"198d31c2.a5719e","type":"ui_audio","z":"701dc7c1.48ee98","name":"","group":"e4d3d63d.e829a8","voice":"en-US","always":"","x":700,"y":320,"wires":[]}]